<br>
<div class="logo">
<% if controller.kind_of?(Admin::Base) %>
  
  <%= link_to image_tag("logo.png"), :admin_root %>
<% else %>
  <%= link_to image_tag("logo.png"), root_path %>
<% end %>
</div>
<div id="login_form" >
  <% if @current_member %>
      <% if controller.kind_of?(Admin::Base) %>
          <div class="admin">
  <p><%= link_to image_tag("order_manage.png"), :admin_orders %> &nbsp;&nbsp; <%= link_to image_tag("stock_manage.png"), :admin_stocks %></p>
          </div>
          <div class="admin">
  <p><%= link_to image_tag("dish_manage.png"),:admin_dishes %> &nbsp;&nbsp; <%= link_to image_tag("member_manage.png"), :admin_members %></p>
          </div>
      <% else %>
          <div id="menubar" class="order">
  <%= link_to image_tag("order.png"), :new_order %>
          </div>
          &nbsp;&nbsp;
          <div id="menubar" class="others">
  <p><%= link_to image_tag("history.png"), :orders %></p><p><%= link_to image_tag("edit.png"), :edit_account %></p>
          </div>
      <% end %>
    <div id="name">
      <%= @current_member.name %>さん
      <%= button_to "ログアウト", :session, method: :delete, confirm: "ログアウトしますか？"  %>
    </div>  
    

  <% else %>
    <%= render "shared/login_form" %>
  <% end %>
</div>
