<h2>予約完了</h2>
<p>以下の内容で予約を承りました。</p>

<% @price = 0 %>
<% @kcal = 0 %>
<table class="order_show">
  <tr>
    <th>受取日時</th>
    <td><%= @order.receive_date %></td>
  </tr>
  <tr>
    <th>弁当サイズ</th>
    <td><%= @order.lunchbox.size %></td>
  </tr>
  <% @order.dishes.order("CASE category WHEN 'staple' THEN 1 ELSE 2 END,
                          CASE category WHEN 'main' THEN 1 ELSE 2 END,
                          CASE category WHEN 'sub' THEN 1 ELSE 2 END").each do |dish| %>
  <tr>
    <th><%= dish.category %></th>
    <td>
      <%= dish_image_tag dish %>
      <div id="explanation">
        <p><%= dish.name %></p>
        <p><%= dish.yen %>円</p>
           <% @price+=dish.yen %>
        <p><%= dish.kcal %>Kcal</p>
           <% @kcal+=dish.kcal %>
        <p><%= dish.genra %></p>
        <p><%= dish.category %></p>
      </div>
    </td>
  </tr>
<% end %>

　　<% @price *= @order.lunchbox.capacity %>
  <% @kcal *= @order.lunchbox.capacity %>
  <tr>
    <th>小計</th>
    <td>
      <%= @price.to_i %>円 &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= @kcal.to_i %>kcal
    </td>
  </tr>
  <tr>
    <th>個数</th>
    <td><%= @order.num %></td>
  </tr>
  <tr>
    <th>合計</th>
    <td><%= (@price*@order.num).to_i%>円</td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= @order.status %></td>
  </tr>
</table>