<h1>予約履歴</h1>


<% if @orders.present? %>
<table class="orders_index" >
  <tr>
    <th>受取日時</th>
    <th>弁当サイズ</th>
    <th>主食</th>
    <th>主菜</th>
    <th>副菜</th>
    <th>数量</th>
    <th>状態</th>
  </tr>
  <% @orders.reverse_each do |order| %>
  <tr>
    <td><%= link_to order.receive_date.strftime("%Y年%m月%d日 %H:%m"), order %></td>
    <td><%= order.lunchbox.size%></td>
    <td><%= Dish.find(order.staple_id).name %></td>
    <td><%= Dish.find(order.main_id).name %></td>
    <td><%= Dish.find(order.sub_id).name %></td>
    <td><%= order.num%></td>
    <td><%= order.status %></td>
  </tr>
  <% end %>
</table>
<% else %>
  <p>予約履歴がありません</p>
<% end %>
